<div class="page-sidebar">
  <div class="card" style="width: 18rem; border-width: 0px">
    <div class="card-body">
      <div class="wrapper">
        <h2 class="card-title">About Author</h2>
          <p>
            Aenean vehicula orci ac urna molestie, nec pulvinar est lacinia. Vestibulum
            venenatis porim. ex. Pellentesque mi ipsum, vehicula in scelerisque quis,
            elementum eget dui. Nulla varius laoreet ipsum eu dignissim.
          </p>
        <hr>
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem; border-width: 0px">
    <div class="card-body">
      <div class="wrapper" style="text-align: center">
        <h2 class="card-title">Categories</h2>
          {% for category in post.categories.all %}
            <ul class="category-list">
              <li class="category-item">
                <a href="{% url 'blog_category' category.name %}">{{ category.name }}</a>
              </li>
          {% endfor %}
        <hr>
      </div>
    </div>
  </div>
</div>
