<!-- card -->
<div class="col-6">
  <div class="card">
    <div class="card-body" style="background-color: white">
      <h2 class="card-title">aura-chakra reading</h2>
      <hr>
        <p class="card-text">
        30 or 60 minutes
        </p>
        <p>
          <button class="btn btn-info btn-md float-right" type="button" data-toggle="collapse" data-target="#collapsecontentthree" aria-expanded="false" aria-controls="collapseexample">
            expand
          </button>
        <br>
      </p>
      <div class="collapse" id="collapsecontentthree">
        <div class="card card-body">
          <p>
            aura readings can reveal what is around you in your life & its balance. make contact with your angels, guides & departed loved ones. energy intuitive reading. your auric body is illustrated for you in a sketch. this may be combined with a healing session as package. sessions are recorded for you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- card -->
