<!-- card -->
  <div class="col-6">
    <div class="card">
      <div class="card-body" style="background-color: white">
        <h2 class="card-title">bioenergetic field therapy</h2>
      <hr>
        <p class="card-text">
          Chakra are activation and balancing
          <br>
          1 hour session
          <p>
            <button class="btn btn-info btn-md float-right" type="button" data-toggle="collapse" data-target="#collapsecontentfour" aria-expanded="false" aria-controls="collapseexample">
              expand
            </button>
          <br>
        </p>
        <div class="collapse" id="collapsecontentfour">
          <div class="card card-body">
          <p>
            all chakras are balanced & activated; providing related nervous systems, skeletal areas, organs, with rejuvenation.
          </p>
          <p>
            come for this special and unique healing session, highly tailored to your needs:
          </p>
          <p>
            – cleanse your aura in depth
            – cleanse and balance each of your chakras
            – release any blockages
            – heal tears in the aura
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- card -->
