<!-- card -->
<div class="col-6">
  <div class="card">
    <div class="card-body" style="background-color: white">
      <h2 class="card-title">house cleansing & blessing</h2>
    <hr>
      <p class="card-text">
        bring spiritual & energetic cleansing to your home & bless it! crystal grids installed in addition upon request.
        <p>
          <button class="btn btn-info btn-md float-right" type="button" data-toggle="collapse" data-target="#collapsecontentsix" aria-expanded="false" aria-controls="collapseexample">
            expand
          </button>
        <br>
      </p>
      <div class="collapse" id="collapsecontentsix">
        <div class="card card-body">
        <p>
          blessing and clearing your home of any stagnant energy, using indigenous methods and connection with angels & spirit. a complete home clearing of negative draining energy with a blessing. rooms hold memory, and any 'negative' imprints on your home can be made peaceful. also offered are installation of crystal grids for room(s) or your workplace starting at only $50 for materials.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- card -->
