<nav>
    <ul class="nav justify-content-center bg-white">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'project_index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Reiki</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog_index' %}">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>-->
    </ul>
</nav>
