<!-- card -->
  <div class="col-6">
    <div class="card">
      <div class="card-body" style="background-color: white">
        <h2 class="card-title">psychic clairvoyant readings</h2>
        <hr>
          <p class="card-text">
            one person or couples - same price.
            in-person, phone, or skype, available for parties by appointment
          </p>
          <p>
            <button class="btn btn-info btn-md float-right" type="button" data-toggle="collapse" data-target="#collapsecontentone" aria-expanded="false" aria-controls="collapseexample">
              expand
            </button>
          <br>
        </p>
        <div class="collapse" id="collapsecontentone">
          <div class="card card-body">
            <p>
              spirit channeling coaching or life path consulting
            <br>
              sessions- all come from a place of loving divine
              messages. in a personal reading, everything that comes
              through is to help you on your journey.
            </p>
            <p>
              channeling from spirit brings messages from angels,
              spirit teachers, your guides & departed loved ones.
              divine messages meant for you on your path. with nearly
              20 years of  experience and over 500 readings, messages coming forward can include finance, business, relationships, spirit journey, and more.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- card -->
