<!-- card -->
  <div class="col-6">
    <div class="card">
      <div class="card-body" style="background-color: white">
        <h2 class="card-title">reiki master healing session/
          body-mind revitalization</h2>
      <hr>
        <p class="card-text">marissa rainbow wolf is a trained
          certified practitioner reiki i, ii, iii/master teacher in
          usui, kundalini, egyptian, angel, medicine wheel reiki.
        <br>
        <strong>60 minutes  ask about our packages!</strong></p>
        <p>
          <button class="btn btn-info btn-md float-right" type="button" data-toggle="collapse" data-target="#collapsecontenttwo" aria-expanded="false" aria-controls="collapseexample">
            expand
          </button>
        <br>
      </p>
      <div class="collapse" id="collapsecontenttwo">
        <div class="card card-body">
        <p>
          different modalities are combined and focus on certain areas of personal life force development through reiki healing. what was once chosen in japan as a method of true healing over surgery because of its proven ability to stimulate growth in healing of spiritual means, mind, body, emotions, is a non-invasive energy therapy. the different learned modalities of reiki are combined and channeled. one session jumpstarts your own innate ability to magnify healing within & further tap into abilities with clarity.
        </p>
        <p>
          reiki has no limitations of time and space. enjoy this effective non-invasive healing  revitalization session in the comfort of your own home or in the bonita springs, fl healing center. i focus on sending pure reiki energy, while channeling i do not speak.
        </p>
        <p>
          during or after the session you may feel sensations of warmth, coldness, tingling or nothing at all. it could even trigger emotional feelings or arouse memories.  this is all perfectly fine. just relax and let reiki help you. enjoy it!
        </p>
        <p>
          important note: treatment with energy healing such as reiki - does not promise to cure any illness or condition nor replaces professional medical treatment.  in order for reiki to work effectively, please be open to receiving the healing energy. it is extremely beneficial to drink water after a reiki as part of the healing process. i would love to hear your success stories!  may you be blessed with happiness, love and prosperity! thank you!
        </p>
        </div>
      </div>
      </div>
    </div>
  </div>
  <!-- card -->
