<ul class="navbar-nav ml-auto nav-flex-icons">
<li class="nav-item">
<a class="nav-link waves-effect waves-solid" href="https://www.facebook.com/HealingandReadings/">
  <i class="fab fa-facebook"></i>
</a>
</li>
<li class="nav-item">
<a class="nav-link waves-effect waves-solid" href="https://www.instagram.com/marissaawakenoneness/">
  <i class="fab fa-instagram" ></i>
</a>
</li>
<li class="nav-item">
<a class="nav-link waves-effect waves-solid">
  <i class="fab fa-twitter" href="https://twitter.com/MRainbowwolf"></i>
</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false">
  <i class="fas fa-user"></i>
</a>
<div class="dropdown-menu dropdown-menu-right dropdown-default"
  aria-labelledby="navbarDropdownMenuLink-333">
  {% if user.is_authenticated %}
  <a class="dropdown-item" href="/admin">{{user.username|title}}</a>
  <a class="dropdown-item" href="/logout">Logout</a>
  {% else %}
  <a class="dropdown-item" href="/login">Login</a>
  <a class="dropdown-item" href="/register">Register</a>
  {% endif %}
</div>
</li>
</ul>
