{% extends "section_header.html" %}
{% block content %}

<div class="row content">
    <div class="col-md-8">
        <h1>Blog</h1>
        <hr>
        {% for post in posts %}
        <h2><a href="{% url 'blog_detail' post.pk %}" class="text-info">{{ post.title }}</a></h2>
        <small>
             <i class="material-icons-outlined" style="vertical-align: bottom">folder</i>&nbsp;
            {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}" class="text-info">
                {{ category.name }} </a>| Published: {{ post.created_on.date }} &nbsp;
            {% endfor %}
        </small>
        <p>{{ post.body|safe | slice:":400" }}&nbsp; ...</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
