{% extends "section_header.html" %}

{% block content %}
<div class="container">
  <h1>Register New User</h1>
  <hr>
  <br>
  <form method='POST'>
    {% csrf_token %}

  {% for field in form %}
    <div>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
    </div>
  {% endfor %}
  <br>
    <button class="btn btn-info btn-md" type="submit">Sign Up</button>

  </form>
  <br>
  If you already have an account, <a href="/login"><strong>login</strong></a>
</div>
{% endblock %}
